.loading{
    min-height: calc(100vh - 140px); 
}

.container {
    min-height: calc(100vh - 140px); 
    margin-bottom: 15px;
  
  }

.film-info{
    max-width: 800px;
    flex-direction: column;
    display: flex;
    margin-top: 18px;
    padding: 0 8px;
    margin: 0 auto;

}

.film-info h1{
    margin: 14px 0;
}

.film-info img{
    border-radius: 5px;
    width: 800px;
    max-width: 100%;
}

.film-info h3{
    margin-top: 14px;
}

.film-info span{
    margin: 8px 0;
}


.more-details{
    display: flex;
    flex-direction: row;
}

.vote-average {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.release{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.film-info button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    border: 0;
    outline: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    color: #041C45;

}

a{
    text-decoration: none;
    color: #041C45;
}

button:hover, a:hover{
    color:#EF476F
}





